body {
    background-image: url("https://img.freepik.com/free-photo/computer-screens-running-programming-code-empty-software-developing-agency-office-computers-parsing-data-algorithms-background-neural-network-servers-cloud-computing-data-room_482257-33353.jpg?w=900&t=st=1666178151~exp=1666178751~hmac=200aaf8980ff70eb914cdcd584cd0dc72bf8236e45dfe5398e6775c6c435efa2");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
}
.logo {
    padding: 10px;
  text-align: left;
  background: #1abc9c;
  color: white;
  font-size: 25px;
}
.pertama {
    width:65%;
    height:auto;
    background-color: white;
    margin:auto;
    margin-top:5px;
    padding-bottom:5px;
}

nav ul{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color:blue;
    border: 1px solid gainsboro;
}
nav li{
    float:left;
}
nav li a{
    display: inline-block;
    color:whitesmoke;
    text-align:center;
    text-decoration:none;
    padding:14px 15px;
}
nav li a:hover{
    opacity:0.9;
    background-color: #ff0000;
}
article {
    width: 98.8%;
    height: auto;
    border-radius: 3px;
    margin:5px 5px 5px 5px;
    border: 1px solid gainsboro;
    clear:both;
}
article p{
    padding: 5px 5px 5px 5px;
    line-height: 1.5;
}
article .konten{
    width: 23.5%;
    height: auto;
    margin: 5px 5px 5px 5px;
    border-radius: 3px;
    border: 1px solid gainsboro;
    float: left;
}

article .konten img {
    width:98.8px;
    height:150px;
    margin:5px 5px 5px 5px;
}

article .konten a:hover {
    opacity:0.9;
    background-color: #ff0000;
}
footer {
    clear:both;
    width:98.8%;
    height:auto;
    text-align:center;
    margin:5px 5px 5px 5px;
    border-radius:3px;
    border-bottom:2px solid gainsboro;
    padding-top:15px;
    padding-bottom:15px;   
}
.kembali {
    text-decoration:none;
}